* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.bannerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.bannerRightSide {
  width: 685px;
  height: 458px;
  background-color: rgb(73, 124, 162);
  margin: 20px 0;
}

.bannerBackgroundColor {
  background-color: #043873;
}

.bannerBackground {
  background-image: url("../images/static/Element.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
